<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ico_calculadora"
        android:label="Juego Matematico"
        android:roundIcon="@drawable/ico_calculadora"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApplicationsProject"
        tools:targetApi="31">
        <!-- android:label="@string/app_name" -->
        <activity
            android:name=".JuegoAleatorio"
            android:label="Jugar Carrera"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel6_Operaciones_Aleatorias"
            android:label="Nivel Operaciones Aleatorias"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel5_Multiplicaciones"
            android:label="Nivel Multiplicaciones"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel4_Sumas_y_Restas"
            android:label="Nivel Sumas y Restas"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel3_Restas"
            android:label="Nivel Restas"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel2_Sumas_Avanzadas"
            android:label="Nivel Sumas Avanzadas"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Nivel1_Sumas_Faciles"
            android:label="Nivel Sumas Faciles"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="Iniciar Sesion"
            android:exported="true"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:label="Seccion de Registro"
            android:exported="true"
            />
    </application>

</manifest>